@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li,a{

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:yellow;
    text-decoration:none;

}

.logo{

    cursor: pointer;
    margin-left: 50px;
    transform: scale(1);
}
.logo:hover{
    transform: scale(1.3);
    transition: all 3s;
}
.nav__links{
    list-style: none;
}
.nav__links li{
display: inline-block;
padding: 0px 20px;


}
.nav__links li a{
        transition: all 0.3s ease 0s;
        
}
.nav__links li a:hover{
    transition: all 2s ease 0s;
    color: #0089a9;
    
    
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10px;
}
#style{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#2C2622;
    opacity: 100%;
    font-family:'Russo One', sans-serif;
    word-spacing: 6px;
}
#arkaplan{

background-image: url(resim.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;


}
.fa{
text-align: center;
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 100%;
background:white;
color:black;
}
.fa:hover {
    opacity: 0.7;
    background-color:#A64CA6;
    transform:rotateY(360deg);
    transition: all 3s;
    
}
p{
    color:white;
}
.footer{
   
    display: inline-block;
    height: 40px;
    width: 100%;
    background-color:transparent;
    position:absolute;
    text-align: center;
    top: 92%;
    font-size: 16px;
    color: #191919;
    font-family: 'Montserrat', sans-serif;

    }
h1{
    
    transform: scale(1);
    transition: all 3s;
}
h1:hover{
    color: yellow;
    transform: scale(1.3);
}
